---
import clsx from 'clsx'
import Layout from '@/layouts/Layout.astro'
import fetchSongs from '@/libs/loadSongs'
import Presentation from '@/components/Presentation'
import { PlayIcon } from '@heroicons/react/24/outline'
import prepareLyrics from '@/libs/prepareLyrics'

export async function getStaticPaths() {
  const songs = await fetchSongs()

  return songs.map((song) => ({
    params: { songId: song.id },
  }))
}

const { songId } = Astro.params

const songs = await fetchSongs()
const song = songs.find((doc) => doc.id === songId)

if (!song) {
  return Astro.redirect('/')
}
---

<script>
  import { isPresentationStarted } from '@/libs/store'

  class AstroPlayButton extends HTMLElement {
    constructor() {
      super()

      const button = this.querySelector('button')
      button?.addEventListener('click', () => {
        isPresentationStarted.set(true)
      })
    }
  }

  customElements.define('astro-play-button', AstroPlayButton)
</script>

<Layout title={song.title}>
  <astro-play-button
    slot="header"
    class="tooltip tooltip-left"
    data-tip="Lancer le diaporama"
  >
    <button class="btn btn-primary btn-circle">
      <PlayIcon className="h-6" />
    </button>
  </astro-play-button>

  <div class="px-4 sm:px-8 md:px-12 mb-12">
    <div class="space-y-2 mb-8">
      <h1 class="font-serif text-3xl sm:text-4xl">{song.title}</h1>
      <h2 class="opacity-60 text-xl">{song.authors || 'Aucun auteur'}</h2>
      {song.copyright && <h3 class="opacity-40">© {song.copyright}</h3>}
    </div>

    <div class="flex flex-col gap-6 sm:gap-8 text-md sm:text-lg tracking-wide">
      {
        song.lyrics
          ? prepareLyrics(song.lyrics).map(({ type, lines }) => (
              <div>
                {lines.map((line) => (
                  <div
                    class={clsx(
                      'font-serif pl-4 -indent-4',
                      type === 'chorus' && 'pl-8',
                    )}
                  >
                    {line}
                  </div>
                ))}
              </div>
            ))
          : 'Aucune parole'
      }
    </div>

    <Presentation song={song} client:only="react" />
  </div>
</Layout>
